          /* general container properties */
          
          * {
              margin: 0;
              padding: 0;
              box-sizing: border-box;
              font-family: 'Comic Neue', cursive;
          }
      
          .container {
              width: 90% auto;
              justify-self: center;
              justify-content: center;
              /* justify-items: center; */
              margin: 4 2 0 2rem;
              height: 100vh;
              display: grid;
              grid-template-columns: 1fr 1fr 1fr 1.5fr;
              grid-template-rows: 1.7fr 0.8fr 1fr 1fr 0.5fr 0.7fr;
          }

          span.info {
              display: block;
              grid-area: 1 / 2 / 2 / 3;
              /* background-color: lightpink; */
              z-index: 1;
              font-family: 'Comic Neue', cursive;
              line-height: 1.5;
          }

          .barWrap {
            grid-area: 1 /1 /6 /3;
            /* background-color: lightsalmon;  */
            z-index: 0;
          }

          .mapWrap {
            grid-area: 1 /3 /5 /5;
            /* background-color: lightblue; */
          }

          .pieWrap {
            grid-area: 2/ 2/ 4/ 3;
            /* background-color: lightgreen;  */
            float: right;
            z-index: 2;
          }

          .controlWrap {    
            grid-area: 5 /2 /6 /5;
            align-items: center;
            /* background-color: lightpink; */
            display: flex;
            text-align: center;
            padding: 2rem;
            margin-left: 12rem;
          }

          footer {
            display: flex;
            justify-content: space-around;
            align-items: center;
            grid-area: 6 /1 / 7/ 5;
            /* background-color: lightblue; */
            font-size: 1.5rem;
          }

          footer a {
            text-decoration: none;
          }

          footer .iconify {
            width: 30px;
          }

          /* specific properties */
        span.info {
            text-align: center;
            margin: 1rem;
            font-size: 30px;
            z-index: 0;
        }
 
        div.tooltip {
            position: absolute;
            text-align: center;
            padding: 10px;
            font: 12px sans-serif;
            background: white;
            border: 0.5px solid black;
            border-radius: 8px;
            pointer-events: none;
            font-size: 15px;
            line-height: 1.5;
            z-index: 100;
        }

        .province {
            stroke: black;
            stroke-width: 0.3px;
        }

        .province:hover {
            fill: DodgerBlue !important;
            cursor: pointer;
        }
        
        /*bar-chart */
        .barAxisText {
          font-size: 1rem;
          /* fill: darkgray; */
        }

        .select {
            font-size: 1.2rem;
            background-color: DodgerBlue;
            color: white;
            width: 4.5rem;
            height: 2.5rem;
            z-index: 1;
        }

        .monthDisplay {
            /* margin: 1rem; */
            width: 4rem;
            height: 2.5rem;
            font-size: 1.2rem;
            background-color: #eeeeee;
            line-height: 2;
            text-align: center;
            border-radius: 0.4rem;
            margin: 0.5rem;
        }

        .slider {
        
            font-size: 1.5rem;
            width: 15rem;
            align-self: center;

        }

